streamlit==1.38.0
langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.33
langchain-mistralai==0.1.12
langgraph==0.2.6
tavily-python==0.3.5
python-dotenv==1.0.1
pydantic==2.8.2
mypy_extensions==1.0.0
typing_extensions==4.12.2
